@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap");

* {
  box-sizing: border-box;
}

/* Variables */
:root {
  --ff-1: "Baloo Bhaina 2", cursive;
  --ff-2: "Source Sans Pro", sans-serif;

  --fw-1: 300;
  --fw-2: 900;

  --clr-1: rgb(0, 0, 0);
  --clr-2: rgb(255, 255, 255);
  --clr-3: grey;

  --fs-1: 1rem;
  --fs-2: 2rem;
  --fs-3: 3rem;
}

/* General */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-1);
  color: var(--clr-2);
  margin: 0;
  font-family: var(--ff-1);
  font-size: var(--fs-1);
  line-height: 1.5;
}

.highlight {
  background-color: rgb(116, 116, 105);
}

/* Header  */
.header::before {
  content: "";
  background: url("/img/img_1.jpg") no-repeat center center/cover;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  width: 100%;
}

.headerLogo {
  padding: 1em 1em;
}

.headerLogoImg {
  height: 3em;
}

#headerSearch {
  padding: 0.5em 1em;
  border-radius: 10px;
  border: 2px solid var(--clr-3);
  font-size: var(--fs-1);
  width: 70%;
}

#headerSearch:active {
  text-decoration: none;
  outline: none;
}

.headerBtnSearch {
  border-radius: 10px;
  border: 2px solid var(--clr-3);
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: var(--fs-1);
}

.headerBtnSearch:hover {
  background-color: var(--clr-3);
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
}

/* Info Section */
.info {
  padding: 0.5em 4em;
  display: flex;
  flex-direction: column;
}

.infoHeading {
  font-size: var(--fs-2);
  font-style: var(--fs-2);
  font-weight: var(--fw-1);
}

.infoHeading > strong {
  display: block;
  font-weight: var(--fw-2);
}

.infoQuote {
  padding: 0.3em 1em;
  font-size: 1.5em;
  width: 60%;
  border-radius: 20px;
  animation: bgcolor 5s ease-in-out infinite;
}

@keyframes bgcolor {
  from {
    background-color: rgba(255, 255, 255, 0.1);
  }

  50% {
    background-color: transparent;
  }

  to {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

@media screen and (max-width: 600px) {
  .info {
    padding: 0.5em 2em;
  }

  .infoHeading {
    text-align: center;
  }

  .infoQuote {
    width: 100%;
    font-size: 1em;
  }
}

/* Coding Section */
.coding {
  background-image: url("/img/img_3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid var(--clr-1);
  width: 100%;
}

.codingHeading {
  text-align: center;
  font-size: var(--fs-3);
  margin: 0;
  text-decoration: underline;
  text-shadow: 5px 5px black;
}

.codingItem {
  display: flex;
  justify-content: space-evenly;
}

.codingItems {
  border: 2px solid var(--clr-1);
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 30vw;
  box-shadow: 5px 5px 50px rgb(148, 145, 145);
}

.codingItems > iframe {
  height: 80vh;
}

.codingItemBtn {
  width: 100%;
  height: 10vh;
  background-color: var(--clr-1);
  color: var(--clr-2);
  cursor: pointer;
  font-size: var(--fs-1);
}

.codingBtn {
  margin: 1em 0;
  text-align: center;
}

.codingBtnSearch {
  border-radius: 10px;
  border: 2px solid var(--clr-1);
  padding: 0.5em 2em;
  cursor: pointer;
  font-size: var(--fs-1);
  transition: all 1s ease-in-out;
}

.codingBtnSearch:hover {
  background-color: var(--clr-3);
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  .codingHeading {
    font-size: var(--fs-2);
  }

  .codingItem {
    flex-direction: column;
    align-items: center;
  }

  .codingItems {
    margin-bottom: 1em;
    width: 90%;
  }
}

/* Wev Dev Section */
.webdev {
  background-image: url("/img/img_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 80%;
  border: 1px solid var(--clr-1);
  color: var(--clr-2);
  width: 100%;
}

.webdev > div > div {
  box-shadow: 10px 10px 50px rgb(0, 0, 0);
  border-color: var(--clr-2);
}

/* Footer Section */
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.5em;
}

.footerCopyright {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerCopyright > div {
  margin: 0.2em 1em;
}

.footerSocial {
  display: flex;
  justify-content: space-evenly;
  margin: 0 1em;
}

.footerSocialItem {
  list-style: none;
  margin: 0.5em 1em;
}

.footerSocialItem > a {
  color: white;
}

@media screen and (max-width: 600px) {
  .footer {
    font-size: 1em;
  }

  .footerCopyright {
    flex-direction: column;
  }
}
