@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap");

* {
  box-sizing: border-box;
}

/* Variables */
:root {
  --ff-1: "Baloo Bhaina 2", cursive;
  --ff-2: "Source Sans Pro", sans-serif;

  --fw-1: 300;
  --fw-2: 900;

  --clr-1: rgb(0, 0, 0);
  --clr-2: rgb(255, 255, 255);
  --clr-3: grey;

  --fs-1: 1rem;
  --fs-2: 2rem;
  --fs-3: 3rem;
}

@media (min-width: 800px) {
  :root {
    --fs-1: 1rem;
    --fs-2: 3rem;
    --fs-3: 5rem;
  }
}

/* General */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-1);
  color: var(--clr-2);
  margin: 0;
  font-family: var(--ff-1);
  font-size: var(--fs-1);
  line-height: 1.5;
}

/* Header  */
.header::before {
  content: "";
  background: url("/img/img_1.jpg") no-repeat center center/cover;
  position: absolute;
  height: 90vh;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  /* border: 2px solid red; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  width: 100%;
  flex-wrap: wrap;
}

.headerLogo {
  max-width: 100px;
}

.headerLogoImg {
  filter: invert(100%);
  height: 40px;
  width: 50px;
}

.headerNavList {
  display: flex;
  justify-content: space-evenly;
  width: 55em;
}

.headerNavListItem {
  list-style: none;
}

.headerNavListItem > a {
  color: var(--clr-2);
  text-decoration: none;
  font-size: 1.5rem;
  /* transition: transform 200ms ease-in-out; */
}

.headerNavListItem a:hover,
.headerNavListItem a.active {
  color: var(--clr-3);
  transform: scale(1.2);
}

.headerToggle {
  display: none;
}

#headerSearch {
  padding: 0.5em 1em;
  border-radius: 10px;
  border: 2px solid var(--clr-3);
  font-size: var(--fs-1);
}

#headerSearch:active {
  text-decoration: none;
  outline: none;
}

.headerBtnSearch {
  border-radius: 10px;
  border: 2px solid var(--clr-3);
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: var(--fs-1);
}

.headerBtnSearch:hover {
  background-color: var(--clr-3);
}

@media (max-width: 1150px) {
  .headerToggle {
    cursor: pointer;
  }
}

/* Info Section */
.info {
  height: 80vh;
  padding: 0.5em 4em;
}

.infoHeading {
  font-size: var(--fs-2);
}

.infoHeading > strong {
  display: block;
  /* font-weight: var(--fw-2); */
}

.infoPara {
  width: 50vw;
}

.infoQuote {
  padding: 0.3em 1em;
  font-size: 1.5em;
}

.info > div {
  background-color: rgba(128, 128, 128, 0.356);
  height: 5em;
  width: 45%;
  border-radius: 20px;
}

@media (min-width: 600px) {
}

/* Coding Section */
/* .coding::after {
  content: "";
  background: url("/img/img_3.jpg") no-repeat center center/cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
} */

.coding {
  background-image: url("/img/img_3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid var(--clr-1);
  height: 100vh;
  width: 100%;
}

.codingHeading {
  text-align: center;
  font-size: var(--fs-3);
  margin: 0;
  text-decoration: underline;
}

.codingItem {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.codingItems {
  border: 2px solid var(--clr-2);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  height: 60vh;
  width: 30vw;
}

.codingItemBtn {
  width: 100%;
  height: 3.3em;
  background-color: var(--clr-1);
  color: var(--clr-2);
  cursor: pointer;
  font-size: var(--fs-1);
}

.codingBtn {
  margin: 1em 0;
  text-align: center;
}

.codingBtnSearch {
  border-radius: 10px;
  border: 2px solid var(--clr-1);
  padding: 0.5em 2em;
  cursor: pointer;
  font-size: var(--fs-1);
  transition: transform 200ms ease-in-out;
}

.codingBtnSearch:hover {
  background-color: var(--clr-3);
  transform: scale(1.1);
}

@media (min-width: 600px) {
}

/* Wev Dev Section */
.webdev {
  background-image: url("/img/img_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 80%;
  border: 1px solid var(--clr-1);
  height: 100vh;
  color: var(--clr-2);
  width: 100%;
}

@media (min-width: 600px) {
}

/* Footer Section */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer_copyright {
  margin: 0px 2em;
}

.footer_social_list {
  display: flex;
}

.footer_social_list_item {
  margin: 0.5em 2em;
  list-style: none;
}

.footer_social_list_item a {
  color: white;
}
